extends ../views/layouts/main.pug

block style
    style.
        .main-bg {
            background-image: url('/img/background/home.jpg');
        }

block content
    h1.text-center.mb-4 Bienvenido al sistema de gestion de internaciones.
    p
        | Este sistema permite gestionar las internaciones de los pacientes en el hospital.
        | Puedes registrar nuevos pacientes, ver el listado de pacientes internados y gestionar sus datos.